#drum-machine {
    margin: 0 auto;
    border: solid 2px black;
    height: 70vh;
    max-width: 60%;
    min-width: 60%;
    background: black;
    

    
}

#display {
    color: black;
    text-align: center;
    min-height: 30px;
    max-width: 50%;
    background-color: #dedbd3;
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    
    
}