#drum-machine {
    margin: 0 auto;
    border: solid 2px black;
    height: 50vh;
    max-width: 60%;
    background: black;
    

    
}

#display {
    color: white;
    text-align: center;
    min-height: 20px;
    max-width: 25%;
    background-color: red;
    display: block;
    margin: 0 auto;
    
    
}