#drum-pad-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    height: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px inset #eb351c;
    font-size: 2rem;
    background-image: linear-gradient(to right bottom, #000206, #191e20, #2b3433, #434b46, #5f6259);
    color: white;
}