#drum-pad-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    height: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px inset #706e6e;
    font-size: 2rem;
    background-image: linear-gradient(to right bottom, #000206, #191e20, #2b3433, #434b46, #5f6259);
    color: white;
}
/* from https://discuss.codecademy.com/t/removing-the-unwanted-border-around-a-button-after-it-has-been-clicked/493874/5
without this outline was appearing on previously clicked button when pressing sa new button via keypress */
button,
button:active,
button:focus {
  outline: none;
}

.clicked {
    border: 3px inset white !important; /* in order to override hover style */
}

.drum-pad:hover {
    /*border: 3px inset white;*/
    background-image: linear-gradient(to left bottom, #000206, #191e20, #2b3433, #434b46, #5f6259);
}

